<div class = "home_layout text-right container-fluid">
    <div class = "container">
        <h1> Welcome to My DevTinder</h1>
        <h3>Its a place where entrepreneurs can met developers.</h3>
    </div>
</div>